/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

:root{
    --lt-gray: #F4F0E7;
    --cream: #DECEC6;
    --green: #959E5C;
    --lt-green: #A9D17C;
    --lt-blue: #007683;
    --dk-blue: #0B427C;
    --dk-gray: #222;

    --body-font:'Tenor Sans', sans-serif;;
    --header-font: 'Aboreto', cursive;

    --box-shadow: -6px 6px 10px var(--dk-blue);
    --box-shadow-sm: -3px 3px 5px var(--dk-blue);
}

body{
    font-family: var(--body-font);
    line-height: 1.5rem;
    font-size: 1.3rem;
    color: var(--dk-gray);
    margin: 0;
    padding: 0;
    background-color: var(--cream);
    
}

header{
    background-image: url(swiss-valley.jpg);
    background-size: cover;
    height: 40%;
    position: relative;
    text-align: center;
    padding: 2.5rem;
    border-bottom: 4px solid var(--green);
}

h1{
    font-family: var(--header-font);
    font-size: 3.5rem;
    font-weight: bold;
    padding: 2rem;
}


header a{
    text-decoration: none;
    color: var(--dk-blue);
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem;
    font-size: 1.6rem;
    justify-items: center;
    font-family: var(--body-font);
}

nav a{
    border-radius: 20px 60px;
    background-color: var(--cream);
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
}

nav a:hover{
    background-color: var(--green);
    color: var(--lt-gray);
    box-shadow: var(--box-shadow-sm);
}

h2{
    text-align: center;
    color: var(--dk-blue);
    font-size: 2rem;
    padding: 2rem;
    margin-top: 2rem;
}

main p{
    font-size: 1.3rem;
    line-height: 1.5;
    max-width: 65ch;
    margin: 0 auto;
    text-indent: 2rem;
}

img{
    display: block;
    border-bottom: 5px solid var(--green);
}

main section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#amenities{
    padding-left: 2rem;
    padding-right: 1rem;
} 

#seasons{
    padding-right: 2rem;
    padding-left: 1rem;
} 

section p{
    margin: 0 auto;
    text-indent: 2rem;
    max-width: 50ch;
    padding-bottom: 2rem;
}

section img{
    margin: 0 auto;
    padding-top: 3rem;
    width: 590px;
    height: 360px;
}

h3{
    padding: 3rem;
    font-family: var(--header-font);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

main{
    color: var(--dk-blue);
    font-size: 1.3rem;
    line-height: 1.5; 
    padding-bottom: 2rem;
}

body, html{
    height: 100%;
}

footer{
    color: var(--dk-blue);
    font-size: 1.3rem;
    line-height: 1.5; 
    text-align: center;
    background-color: var(--green);
    padding: 2rem;
}

/* CONTACT PAGE STYLES */

#form h2{
    text-align: left;
}

#form p{
    text-indent: 2rem;
    margin: 0 auto;
    width: 30ch;
    padding-top: 1rem;
}

#form img{
    width: 350px;
    height: 455px;
    margin: 0 auto;
}

#form div{
    margin-right: 1rem;
}

/* FORM STYLES */

form{
    width: 360px;
    margin-top: 3rem;
    padding: 1.5rem 2rem 0 2rem;
    background-color: var(--green);
    border-radius: 4px;
    margin-left: 1rem;
    font-size: 1.3rem;
}

label, input, textarea{
    display: block;
    font-weight: bold;
    width: 94%;
}

input, textarea{
    padding: 0.5rem;
    font-size: 1.3rem;
    border: 3px solid var(--lt-blue);
    margin-bottom: 3rem;
    border-radius: 4px;
}

fieldset{
    display: flex;
    align-items: baseline;
    border: 2px solid var(--lt-blue);
    border-radius: 4px;
    margin-bottom: 2rem;
}

legend{
    font-weight: bold;
    padding: 0.5rem 0.5rem;
}


input[type="radio"], input[type="radio"] + label, #form-submit{
    cursor: pointer;
    
}

#form-submit{
    background-color: var(--lt-blue);
    color: var(--lt-gray);
    width: 102%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    box-shadow: var(--box-shadow);
}

input:invalid, textarea:invalid{
    border: 4px solid var(--lt-green);
    box-shadow: var(--box-shadow);
}   

input:focus, textarea:focus{
    outline: 3px solid var(--dk-blue);
}  

#form-submit:hover{
    box-shadow: var(--box-shadow-sm);
}

input[type="radio"]{
    height: 20px;
    outline: none;
}

.required{
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}